@CHARSET "ISO-8859-1";
.navbar {
	color: #000000;
	background-color: #ffffff;
}

navbar-custom {
	color: #000000;
	background-color: #ffffff;
}
.nav.navbar-nav li a{
	color:#000000;
}
.nav.navbar-nav li a:hover{
	background-color:#00ffff;
	color:#ffffff;
}
li a:hover{
	background-color:#00ffff;
	color:#ffffff;	
}
li a{
	color:#00FFFF;
	font-family:Britannic Bold;
	font-size-adjust: 0.79;
}